/* Set body background color */
body {
  background-color: $bslib-bg;
}

/* Set font and link colors */
body, h1, h2, h3, h4, h5, h6, p, a {
  color: $bslib-fg;
  font-family: $bslib-base-font;
}

/* Style the navigation bar */
.navbar {
  background-color: $bslib-navbar-light-color;
  color: $bslib-navbar-light-color;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a:hover {
  color: $bslib-dropdown-link-hover-bg;
}

/* Style the banner */
.title-block {
  background-color: $bslib-primary;
  color: $bslib-headings-color;
  padding: 20px;
  text-align: center;
}

/* Style the content section */
.content {
  padding: 20px;
}

/* Style the footer */
footer {
  background-color: $bslib-navbar-light-color;
  color: $bslib-text-muted;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100px; /* adjust as needed */
  box-sizing: border-box; /* include padding in width calculation */
}

footer p {
  color: $bslib-navbar-light-color;
}

/* Button style */
.button {
  background-color: $bslib-primary;
  color: $bslib-headings-color;
  padding: 10px 20px;
  border-radius: $bslib-border-radius;
  text-decoration: none;
}

.button:hover {
  background-color: $bslib-dropdown-link-hover-bg;
  color: $bslib-dropdown-link-hover-color;
}
